#background {
    background-color: #e8e8e8;
}

/* 导航栏样式--Start-- */
#navigation {
    width: 100%;
    display: flex; 
    justify-content: space-between;
}

#navigation #logo {
    height: 150px;
    width: 150px;
    margin: 2px 0px 2px 2px;
    border: solid 2px black;
    background-color: white;
}
#navigation #logo>div {
    position: relative;
    width: 192px;
    height: 100%;
    background: url(../images/logo.jpg) no-repeat center;
    left: -21.6px;
    transition: all 0.6s;
}
#navigation #logo>div:hover {
    
}

#navigation #information {
    width:100%;
    margin: 2px 2px 0px 5px;
    height:150px; 
    border: solid 2px gray;
    background: rgba(3,60,153,0.8);
}
#navigation h1 {
    text-align: right;
    font-size: 23px;
    margin-top: 17px;
    margin-right: 8px;
    margin-bottom: 10px;
    color: white;
}
#navigation p {
    text-align: right;
    color: #ececec;
    margin-right: 8px;
    font-size: 8px;
    line-height: 26px;
    font-weight: 400;
}
/* 导航栏样式--End-- */

/* 功能菜单样式--Start-- */
#Function {
    width: 100%; 
    display: flex; 
    justify-content: space-between;
}

#box_palette {
	height: 100%;
	width: 159px;
}
#box_palette li {
    margin-top: 10px;
}

#Function #FunctionsList .cueText {
    height: 23px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    margin-bottom: 7px;
    border-bottom: solid 1px black;
    background-color: #A8A8A8;
}
#Function #FunctionsList {
	float: left;
	height: 585px;
	width: 100%; 
	margin: 4px 2px 0px 2px; 
	border: solid 2px gray;
    background-color: white;
}
/* 功能菜单样式--End-- */

/* 输入输出框样式--Start-- */
#myText {
    width:100%; 
    height:100%; 
    margin-left: 10px;
    margin-right: 2px;
    margin-top: 4px;
    border: solid 2px black; 
}

#myText .cueText1 {
    height: 23px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2px;
    border-bottom: solid 1px black;
    background-color: #A8A8A8;
}
#myText .cueText2 {
    height: 23px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    margin-bottom: -2px;
    border-bottom: solid 1px black;
    background-color: rgba(3,60,153,0.8);
}

#myText #inputDiv {
    text-align: center;
    background-color: white;
}
#myText #inputBox {
    width: 98.5%;
    border-style: double;
    margin-bottom: 11px;
    text-indent: 6px;
}

#myText #showTextDiv {
    height: 100%;
    text-align: center;
    padding: 5px 2px 0px 2px;
    background-color: white;
}
#myText #showText {
    height:493px; 
    width: 99%;
}
/* 输入输出框样式--End-- */